.todo-list-wrapper {
  padding: 20px;
}

.todo-item-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.todo-btn-remove {
  justify-content: flex-end;
}

.todo-add-input {
  width: 100%;
}

.todo-btn-wrapper {
  position: relative;
}

.todo-button-progress {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
}
