.header-title {
  display: flex;
  flex-grow: 1;
}

.header-greeting {
  margin-right: 20px;
}

.header-greeting-sm {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-wrapper {
    flex-wrap: wrap;
  }

  .header-greeting {
    display: none;
  }

  .header-greeting-sm {
    text-align: center;
  }
}
